# Project 1

CSV Data Cleaner

Description

The CSV Data Cleaner is a beginner-level Python project using the Pandas library. It automates the cleaning of messy datasets by handling missing values, renaming columns, removing duplicates, and exporting the cleaned data to a new file. This project is ideal for learning the basics of data cleaning and manipulation with Pandas.

Requirements
- Python 3.x installed on your computer.
- Pandas library (pip install pandas).

- A sample CSV file to test the program (e.g., data.csv).

- Basic understanding of Pandas DataFrame operations.

Algorithm
- Import the required libraries (Pandas).

- Load the CSV file into a Pandas DataFrame.

- Handle missing values by:

    - Filling them with a default value.

    - Dropping rows or columns with too many missing values.

- Rename columns for better readability.

- Remove duplicate rows from the dataset.

- Filter out unnecessary columns (optional).

- Save the cleaned DataFrame to a new CSV file

Key Features
- Flexible handling of missing data.

- Column renaming for better understanding of the dataset.

- Duplicate removal ensures data accuracy.

- Option to keep only specific columns of interest.

- Saves the cleaned data for further use.

## Import Library and Dataset

In [81]:
# Import Library
import pandas as pd
import numpy as np

Link Source Dataset: https://www.kaggle.com/code/ahmedwaelnasef/udemy-courses-eda

In [82]:
# import dataset
df = pd.read_csv(r'D:\File Belajar\Belajar Data\Udemy\pandas\Project\udemy_courses.csv')
df.head(3)

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance

In [95]:
# Show row and column dataset
print('Row:', df.shape[0], 'Column:', df.shape[1])

Row: 3174 Column: 12

In [96]:
# Info dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3174 entries, 0 to 3677
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               3174 non-null   float64
 1   title            3174 non-null   object
 2   url              3174 non-null   object
 3   is_paid          3174 non-null   bool
 4   price            3174 non-null   float64
 5   num_subscribers  3174 non-null   float64
 6   num_reviews      3174 non-null   float64
 7   num_lectures     3174 non-null   float64
 8   level            3174 non-null   object
 9   duration         3174 non-null   float64
 10  publish_date     3174 non-null   object
 11  subject          3174 non-null   object
dtypes: bool(1), float64(6), object(5)
memory usage: 300.7+ KB

## Exploratory Data Analysis (EDA)

### Drop some value in dataset

In [97]:
# Change type data bool to object
df['is_paid'] = df['is_paid'].astype('object')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3174 entries, 0 to 3677
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               3174 non-null   float64
 1   title            3174 non-null   object
 2   url              3174 non-null   object
 3   is_paid          3174 non-null   object
 4   price            3174 non-null   float64
 5   num_subscribers  3174 non-null   float64
 6   num_reviews      3174 non-null   float64
 7   num_lectures     3174 non-null   float64
 8   level            3174 non-null   object
 9   duration         3174 non-null   float64
 10  publish_date     3174 non-null   object
 11  subject          3174 non-null   object
dtypes: float64(6), object(6)
memory usage: 322.4+ KB

In [98]:
# Cek missing value
df.isna().sum()

ID                 0
title              0
url                0
is_paid            0
price              0
num_subscribers    0
num_reviews        0
num_lectures       0
level              0
duration           0
publish_date       0
subject            0
dtype: int64

In [87]:
# Change the value in the dataset to Nan or empty
df.iloc[2500:3000] = np.nan

# Cek missing value again
df.isna().sum()

course_id              500
course_title           500
url                    500
is_paid                500
price                  500
num_subscribers        500
num_reviews            500
num_lectures           500
level                  500
content_duration       500
published_timestamp    500
subject                500
dtype: int64

In [88]:
# Handle Missing value

# Missing value numerical

# Change the value in the dataset to Nan or empty
df_numerical = df.select_dtypes(include=['number']).columns
df[df_numerical] = df[df_numerical].fillna(df[df_numerical].mean())

# Separate categorical data types to deal with missing values
df_cat = df.select_dtypes(include=['object', 'category']).columns
# Loop to replace missing values with frequently occurring values
for col in df_cat:
    mode_col = df[col].mode()[0] # mode is used for categorical data types
    df[col] = df[col].fillna(mode_col)

# check missing values after the process of handling missing values
df.isna().sum()

C:\Users\User\AppData\Local\Temp\ipykernel_23024\3050864119.py:14: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].fillna(mode_col)

course_id              0
course_title           0
url                    0
is_paid                0
price                  0
num_subscribers        0
num_reviews            0
num_lectures           0
level                  0
content_duration       0
published_timestamp    0
subject                0
dtype: int64

### Handle data duplicated

In [89]:
# Cek data duplicated
hasDup = df.duplicated().any() # stores duplicate data, if any then the result is True
print(hasDup)

True

In [99]:
# Drop data duplicates
df.drop_duplicates(inplace=True) # inplace=True is used if you do not want to create a new variable

# cek row and column dataset
df.shape

(3174, 12)

### Rename name columns

In [100]:
df.head(3)

,ID,title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,duration,publish_date,subject
0,1070968.0,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200.0,2147.0,23.0,51.0,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822.0,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75.0,2792.0,923.0,274.0,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314.0,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45.0,2174.0,74.0,51.0,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance

In [103]:
# Rename columns name

# Use rename() function for change name column
# Save the data as dict, key is the old name and value is the changed name.
df.rename(columns={
    'course_id':'ID',
    'course_title':'title',
    'num_subscribers':'subscribers',
    'published_timestamp':'publish_date',
    'content_duration':'duration'
    }, inplace=True)

df.head(3)

,ID,title,url,is_paid,price,subscribers,num_reviews,num_lectures,level,duration,publish_date,subject
0,1070968.0,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200.0,2147.0,23.0,51.0,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822.0,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75.0,2792.0,923.0,274.0,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314.0,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45.0,2174.0,74.0,51.0,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance

### Filter Column

In [104]:
# Filter Column

column_rename = ['ID', 'title', 'subscribers', 'publish_date', 'duration'] # retrieves the column name
df_rename = df[column_rename] # save in new variable
df_rename.head()

,ID,title,subscribers,publish_date,duration
0,1070968.0,Ultimate Investment Banking Course,2147.0,2017-01-18T20:58:58Z,1.5
1,1113822.0,Complete GST Course & Certification - Grow You...,2792.0,2017-03-09T16:34:20Z,39.0
2,1006314.0,Financial Modeling for Business Analysts and C...,2174.0,2016-12-19T19:26:30Z,2.5
3,1210588.0,Beginner to Pro - Financial Analysis in Excel ...,2451.0,2017-05-30T20:07:24Z,3.0
4,1011058.0,How To Maximize Your Profits Trading Options,1276.0,2016-12-13T14:57:18Z,2.0

In [105]:
df.head(3)

,ID,title,url,is_paid,price,subscribers,num_reviews,num_lectures,level,duration,publish_date,subject
0,1070968.0,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200.0,2147.0,23.0,51.0,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822.0,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75.0,2792.0,923.0,274.0,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314.0,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45.0,2174.0,74.0,51.0,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance

## Save the cleaned DataFrame to a new CSV file.

In [106]:
df.to_csv('cleaned_data.csv')